@use "../settings/colors";
@use "../settings/defaults";

#more-view {
    @include defaults.flex-col-container;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

#more-view button {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;

    svg {
        fill: colors.$clr-text;
        width: 24px;
        height: 24px;
    }
}
