@use "../settings/colors";
@use "../settings/defaults";

#stats-view {
    @include defaults.flex-col-container;
    width: 100%;
    padding: 10px;
    gap: 10px;

    h2 {
        margin-top: 20px;
    }
}

#games-grid {
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}
