@use "../settings/colors";
@use "../settings/defaults";

#colors-view {
    @include defaults.flex-col-container;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.color-theme-button {
    min-width: 200px;
}