@use "settings/colors";

.auth-container {
  width: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  //background-color: colors.$clr-surface;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
  //outline: 1px solid colors.$clr-surface-highlight;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.auth-form .auth-instruction {
  font-size: 14px;
  margin: 20px 0 5px 0;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}

.auth-form .auth-validation {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
}

.auth-form .auth-error {
  color: colors.$clr-error;
  font-size: 14px;
  margin: 0;
  width: 100%;
  padding: 5px 10px;
}

.auth-form .auth-button {
  min-width: 100px;
  padding: 10px;
  background-color: colors.$clr-primary;
  color: colors.$clr-white;
  border: none;
  border-radius: 4px;
  margin: 30px 0 10px 0;

  &:active {
    background-color: colors.$clr-primary-highlight;
  }
}

.auth-form .auth-toggle {
  min-width: 100px;
  padding: 5px 10px;
  background-color: transparent;
  color: colors.$clr-primary;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.auth-form .auth-skip:any-link {
  min-width: 100px;
  padding: 5px 10px;
  margin-top: 30px;
  background-color: transparent;
  color: colors.$clr-primary;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

.auth-form .auth-input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid colors.$clr-surface-highlight;
  border-radius: 4px;
  background-color: colors.$clr-background;
  color: colors.$clr-white;
  box-sizing: border-box;

  &.auth-invalid {
    border-color: colors.$clr-error;
  }

  &:focus {
    border-color: colors.$clr-primary;
  }

  &.auth-invalid:focus {
    border-color: colors.$clr-warning;
  }
}
