@import "settings/colors";

#create-room-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#create-room-view h1 {
    text-align: center;
}

.choice-button {
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 0;
    flex-grow: 1;

    &.current {
        outline: 2px solid $clr-primary;
    }
}

#board-size-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

#time-mode-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.category-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.category-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

#create-room-button {
    padding: 10px 10px;
    height: 40px;
    width: 100%;
    max-width: 200px;
    margin-top: 50px;
}

#komi-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.komi-value {
    font-size: 16px;
    width: 30px;
    font-family: monospace;
    height: fit-content;
    text-align: left;
}

.komi-slider {
    flex-grow: 1;
    height: 25px;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    background: $clr-surface;
    border-radius: 5px;
    outline: none;
    border: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: $clr-primary;
        border-radius: 5px;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: $clr-primary;
        border-radius: 5px;
        cursor: pointer;
    }
}

#color-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}
