:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #4f94e8;
    --clr-primary-a10: #699feb;
    --clr-primary-a20: #7fabee;
    --clr-primary-a30: #93b6f0;
    --clr-primary-a40: #a6c2f3;
    --clr-primary-a50: #b9cef6;

    /** Theme surface colors */
    --clr-surface-a0: #121217;
    --clr-surface-a10: #28282c;
    --clr-surface-a20: #3f3f43;
    --clr-surface-a30: #57575b;
    --clr-surface-a40: #717174;
    --clr-surface-a50: #8b8b8e;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1a1e28;
    --clr-surface-tonal-a10: #2f333c;
    --clr-surface-tonal-a20: #464952;
    --clr-surface-tonal-a30: #5e6068;
    --clr-surface-tonal-a40: #767980;
    --clr-surface-tonal-a50: #909298;

    --clr-board-light: #949da8;
    --clr-board-dark: #818995;
    --clr-board-selected-light: #4f94e8;
    --clr-board-selected-dark: #3876c1;
    /*--clr-board-light: #4f94e8;*/
    /*--clr-board-dark: #d3ccc2;*/
    --clr-piece-light: #dee1e8;
    --clr-piece-dark: #4f525c;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
}

.tak-board-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.tak-board {
    display: grid;
    position: relative;
    user-select: none;
}

.tak-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    transition: background-color 0.3s ease-in-out;
}

.tak-tile-light {
    background-color: var(--clr-board-light);
}

.tak-tile-dark {
    background-color: var(--clr-board-dark);
}

.tak-tile-light.tak-tile-selected {
    background-color: var(--clr-board-selected-light);
}

.tak-tile-dark.tak-tile-selected {
    background-color: var(--clr-board-selected-dark);
}

.tak-tile-label {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

.tak-tile-label-rank {
    bottom: 0;
    right: 3px;
}

.tak-tile-label-file {
    top: 0;
    left: 3px;
}

.tak-tile-light .tak-tile-label-rank {
    color: var(--clr-board-dark);
}

.tak-tile-dark .tak-tile-label-rank {
    color: var(--clr-board-light);
}

.tak-tile-light .tak-tile-label-file {
    color: var(--clr-board-dark);
}

.tak-tile-dark .tak-tile-label-file {
    color: var(--clr-board-light);
}

.tak-piece {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.1));
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.tak-piece-wrapper {
    width: 100%;
    height: 100%;
    animation: scaleIn 300ms ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tak-piece-inner {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tak-piece-height-0 {
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.2));
}

.tak-piece-inner-light {
    background-color: var(--clr-piece-light);
    outline: var(--clr-surface-a50) solid 1px;
}

.tak-piece-inner-dark {
    background-color: var(--clr-piece-dark);
    outline: var(--clr-surface-a0) solid 1px;
}

.tak-piece-inner-flat {
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.tak-piece-inner-wall {
    width: 50%;
    height: 20%;
    border-radius: 5px;
    transform: rotate(-45deg);
}

.tak-piece-inner-cap {
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.tak-piece-selector {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tak-piece-selector .piece-selector {
    background-color: var(--clr-board-dark);
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    width: 40px;
    height: 40px;
    user-select: none;
}

.tak-piece-selector .piece-selector-current {
    outline: 2px solid var(--clr-primary-a0);
}

.tak-piece-selector .piece-selector:active {
    background-color: var(--clr-surface-a50);
}