@use "settings/defaults";
@use "navbar";
@use "auth";
@use "home";
@use "create_room";
@use "board";
@use "seeks";
@use "views/more";
@use "views/rules";
@use "views/stats";
@use "views/review_board";
@use "views/history";
@use "views/themes";


@use "settings/colors";
@use "settings/params";

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: colors.$clr-background;
  color: colors.$clr-text;
  font-family: params.$font-stack;
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
