:root {
    --animation-speed: 200ms;

    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    --clr-error-a0: #ff0000;
    --clr-error-a10: #e8a01b;

    /** Theme primary colors */
    --clr-primary-a0: oklch(0.6601 0.144 254.84);
    --clr-primary-a10: oklch(0.7001 0.144 254.84);

    /** Theme surface colors */
    --clr-surface-a0: oklch(0.2049 0.0292 254.84);
    --clr-surface-a10: oklch(0.3549 0.0292 254.84);
    --clr-surface-a20: oklch(0.5049 0.0292 254.84);
    --clr-surface-a50: oklch(0.7049 0.0292 254.84);

    --clr-board-light: oklch(0.6756 0.0292 254.84);
    --clr-board-dark: oklch(0.7049 0.0292 254.84);
    --clr-board-selected-light: oklch(0.7702 0.0292 254.84);
    --clr-board-selected-dark: oklch(0.7602 0.0292 254.84);
    --clr-board-highlight-light: oklch(0.6601 0.144 254.84);
    --clr-board-highlight-dark: oklch(0.6401 0.144 254.84);
    --clr-piece-light: oklch(0.9233 0.0292 254.84);
    --clr-piece-dark: oklch(0.3533 0.0292 254.84);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
}

.tak-board-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding-top: 50px;
}

.tak-board {
    display: grid;
    position: relative;
    user-select: none;
    touch-action: none;
}

.tak-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    transition: background-color var(--animation-speed) ease-in-out;
}

.tak-tile-light {
    background-color: var(--clr-board-light);
}

.tak-tile-dark {
    background-color: var(--clr-board-dark);
}

.tak-tile-light.tak-tile-highlight {
    background-color: var(--clr-board-highlight-light);
}

.tak-tile-dark.tak-tile-highlight {
    background-color: var(--clr-board-highlight-dark);
}

.tak-tile-light.tak-tile-selected {
    background-color: var(--clr-board-selected-light);
}

.tak-tile-dark.tak-tile-selected {
    background-color: var(--clr-board-selected-dark);
}

.tak-tile-label {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

.tak-tile-label-rank {
    bottom: 0;
    right: 3px;
}

.tak-tile-label-file {
    top: 0;
    left: 3px;
}

.tak-tile-light .tak-tile-label-rank {
    color: var(--clr-piece-light);
}

.tak-tile-dark .tak-tile-label-rank {
    color: var(--clr-piece-light);
}

.tak-tile-light .tak-tile-label-file {
    color: var(--clr-piece-light);
}

.tak-tile-dark .tak-tile-label-file {
    color: var(--clr-piece-light);
}

.tak-piece {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.1));
    transition: transform var(--animation-speed) ease-in-out, filter var(--animation-speed) ease-in-out;
}

.tak-piece-wrapper {
    width: 100%;
    height: 100%;
    animation: scaleIn var(--animation-speed) ease-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tak-piece-inner {
    transition: width var(--animation-speed) ease-in-out, height var(--animation-speed) ease-in-out, transform var(--animation-speed) ease-in-out;
}

.tak-piece-height-0 {
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0, 0.2));
}

.tak-piece-inner-light {
    background-color: var(--clr-piece-light);
    outline: var(--clr-surface-a50) solid 1px;
}

.tak-piece-inner-dark {
    background-color: var(--clr-piece-dark);
    outline: var(--clr-surface-a0) solid 1px;
}

.tak-piece-inner-flat {
    width: 50%;
    height: 50%;
    border-radius: 3px;
}

.tak-piece-inner-wall {
    width: 50%;
    height: 20%;
    border-radius: 3px;
    transform: rotate(-45deg);
}

.tak-piece-inner-cap {
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.tak-piece-hand-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.tak-piece-hand-container .tak-piece-hand {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--clr-light-a0);
    border-radius: 5px;
    background-color: var(--clr-surface-a0);
    margin: 0;
    min-width: 40px;
    text-align: center;
    outline: 2px solid var(--clr-piece-dark);
    transition: outline var(--animation-speed) ease-in-out;
}

.tak-piece-hand-container .tak-piece-hand.tak-piece-hand-current {
    outline: 2px solid var(--clr-primary-a0);
}

.tak-piece-selector {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tak-piece-selector .piece-selector {
    background-color: var(--clr-board-dark);
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    width: 40px;
    height: 40px;
    user-select: none;
    flex-grow: 1;
    transition: background-color var(--animation-speed) ease-in-out;
}

.tak-piece-selector .piece-selector:active {
    background-color: var(--clr-board-light);
}

.tak-piece-selector .piece-selector-current {
    background-color: var(--clr-primary-a0);
}

.tak-piece-selector .piece-selector-current:active {
    background-color: var(--clr-primary-a10);
}

.tak-game-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.clock {
    padding: 0 10px;
    border-radius: 5px;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

.clock-light {
    background-color: var(--clr-piece-light);
    color: var(--clr-dark-a0);
}

.clock-dark {
    background-color: var(--clr-piece-dark);
    color: var(--clr-light-a0);
}

.flats-counter {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
    height: 100%;
}

.flats-bar {
    transition: flex-grow var(--animation-speed) ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flats-bar p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

.flats-bar.flats-bar-light {
    background-color: var(--clr-piece-light);
    color: var(--clr-dark-a0);
    min-width: 10px;
    align-items: end;
    padding-right: 5px;
}

.flats-bar.flats-bar-dark {
    background-color: var(--clr-piece-dark);
    color: var(--clr-light-a0);
    align-items: start;
    padding-left: 5px;
    min-width: 10px;
}

.flats-bar.flats-bar-komi {
    background-color: var(--clr-board-dark);
    color: var(--clr-light-a0);
    align-items: start;
    padding-left: 5px;
    min-width: 10px;
}

.tak-game-info p.tak-player-info {
    margin: 0;
    padding: 0 10px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color var(--animation-speed) ease-in-out;
}

.tak-game-info p.tak-player-info.left {
    text-align: left;
}

.tak-game-info p.tak-player-info.right {
    text-align: right;
}

.tak-game-info p.tak-player-info.current-player {
    color: var(--clr-primary-a0);
}