@use "settings/defaults";
@use "settings/colors";

#navbar-top {
  @include defaults.flex-row-center;
  justify-content: start;
  width: 100%;
  height: 30px;
  min-height: 30px;
  background-color: colors.$clr-background;
}

#navbar-logo {
  @include defaults.flex-col-center;
  text-align: center;
  position: absolute;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  flex-direction: row;
  gap: 5px;
  color: colors.$clr-board-light;
  fill: colors.$clr-board-light;
}

#navbar-content {
  @include defaults.flex-col-container;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 60px;

  a {
    @include defaults.flex-col-center;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    min-width: 60px;
    user-select: none;
    cursor: pointer;

    &.nav-button {
      color: colors.$clr-board-light;
      text-decoration: none;

      svg {
        fill: colors.$clr-board-light;
      }
    }

    &.nav-button-active {
      color: colors.$clr-primary;

      svg {
        fill: colors.$clr-primary;
      }
    }

    &:hover {
      cursor: pointer;
      color: color-mix(in oklch, colors.$clr-primary 50%, colors.$clr-primary-highlight);

      svg {
        fill: color-mix(in oklch, colors.$clr-primary 50%, colors.$clr-primary-highlight);
      }
    }
    &:active {
      cursor: pointer;
      color: colors.$clr-primary-highlight;

      svg {
        fill: colors.$clr-primary-highlight;
      }
    }
  }
}
