@import "settings/colors";
@import "settings/params";

.rooms-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.room-item {
    width: 100%;
    background-color: $clr-surface;
    border-radius: $border-radius;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: start;
    gap: 10px;

    p {
        vertical-align: middle;
        height: fit-content;
    }

    .room-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        flex-grow: 1;
        gap: 5px;
        width: 100%;
        overflow: hidden; 
    }

    .room-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10px;

        button {
            width: 100%;
        }
    }

    .room-code {
        font-weight: bold;
        color: $clr-primary;
    }

    .room-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex-grow: 1;
        gap: 10px;
        
        p {
            background-color: $clr-primary-highlight;
            color: $clr-white;
            padding: 2px 5px;
            border-radius: $border-radius;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .room-players {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        gap: 5px;
        max-width: 100%;

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            text-wrap: nowrap;
        }
    }
}
