$clr-black: #000000;
$clr-white: #ffffff;

$clr-error: #ff0000;
$clr-warning: #e8a01b;

$clr-primary: oklch(0.6601 0.144 254.84);
$clr-primary-light: oklch(0.7001 0.144 254.84);

$clr-background: oklch(0.2049 0.0292 254.84);
$clr-surface: oklch(0.3549 0.0292 254.84);
$clr-surface-light: oklch(0.5049 0.0292 254.84);

$clr-board-dark: oklch(0.6756 0.0292 254.84);
$clr-board-light: oklch(0.7049 0.0292 254.84);

$clr-board-selected-dark: oklch(0.7602 0.0292 254.84);
$clr-board-selected-light: oklch(0.7702 0.0292 254.84);
$clr-board-highlight-dark: oklch(0.6401 0.144 254.84);
$clr-board-highlight-light: oklch(0.6601 0.144 254.84);
$clr-board-selected-highlight-dark: oklch(0.7502 0.104 254.84);
$clr-board-selected-highlight-light: oklch(0.7602 0.104 254.84);
$clr-piece-dark: oklch(0.3533 0.0292 254.84);
$clr-piece-light: oklch(0.9233 0.0292 254.84);
