@import "colors";
@import "params";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

button {
  font-size: 14px;
  text-decoration: none;
  background-color: $clr-surface;
  color: $clr-text;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  user-select: none;

  &:hover {
    background-color: oklch(from $clr-surface #{"calc(l + 0.05)"} c h);
  }

  &:active {
    background-color: oklch(from $clr-surface #{"calc(l + 0.1)"} c h);
  }
}

button.primary-button {
  background-color: $clr-primary;
  color: $clr-text;

  &:hover {
    background-color: oklch(from $clr-primary #{"calc(l + 0.05)"} c h);
  }

  &:active {
    background-color: oklch(from $clr-primary #{"calc(l + 0.1)"} c h);
  }
}

button.secondary-button {
  border: 2px solid $clr-surface-light;

  &:hover {
    background-color: $clr-surface-light;
  }

  &:active {
    background-color: $clr-surface-light;
  }
}

input {
  padding: 10px;
  outline: none;
  border: 1px solid $clr-surface-light;
  border-radius: $border-radius;
  background-color: $clr-background;
  color: $clr-text;

  &:focus {
    border-color: $clr-primary;
  }
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
