@import "colors";
@import "params";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

button {
  text-decoration: none;
  background-color: $clr-surface;
  color: $clr-white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: $clr-surface-light;
  }

  &:active {
    background-color: $clr-surface-light;
  }
}

button.primary-button {
  background-color: $clr-primary;
  color: $clr-white;

  &:hover {
    background-color: $clr-primary-light;
  }

  &:active {
    background-color: $clr-primary-light;
  }
}

input {
  padding: 10px;
  outline: none;
  border: 1px solid $clr-surface-light;
  border-radius: $border-radius;
  background-color: $clr-background;
  color: $clr-white;

  &:focus {
    border-color: $clr-primary;
  }
}


@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}